@import "../../styles/vars.scss";

.input {
    width: 250px;
    color: $black;
    text-indent: 6px;
    padding: 12px;
    margin: 5px;
    border: 1px solid $pink;
    background: $input-back-color;
    border-radius: 20px;
}

.input::placeholder {
    color: gray;
    font-size: 12px;
    line-height: 19px;
}

.input:focus {
    outline: none;
    border: 1px solid $pink;
    box-shadow: 0 0 7px $pink;
}