@import "../../styles/vars.scss";

button {
  border: none;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  background: transparent;
}

.primary {
  padding: 10px 60px;
  width: 100%;
  margin: 15px 5px 0 5px;
  color: $white;
  border: 1px solid $pink;
  background-color: $pink;
  font-size: 16px;
  border-radius: 20px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 20px;
}
.primary:hover {
    background: $white;
    color: $pink;
    border: 1px solid $pink;
}

.primary:disabled {
    background-color: rgb(216, 168, 176);
    color: white;
}