@import './constants.scss';
* {
  font-family: $font;

}

// calendar styles
.fc-event-title.fc-sticky {
    white-space: pre-wrap;
    color: $white;
}
.fc {
    width: 100%;
}
.fc-icon {
    color: $white;
}

.App-main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    padding: 7vw 2vw;

}
.App-main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
   padding: 10px 0 0 20px;
    justify-content: center;
    align-items: center;
}
h1,h2,  h3 {
    color: $color-h1;
    font-size: 40px;
    margin: 15px 0;
    font-weight: 400;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}
.link-text {
text-decoration: none;
color: $color-link;
cursor: pointer;
}
