@import './constants.scss';
* {
  font-family: $font;

}

// calendar styles
.fc-event-title.fc-sticky {
    white-space: pre-wrap;
    color: $white;
}
.fc {
    width: 100%;
}
.fc-icon {
    color: $white;
}

.App-main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    padding: 7vw 2vw;
    gap: 20px;
}
.App-main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
   
    justify-content: center;
    align-items: center;
}
h1, h3 {
    color: $color-h1 ;
    font-size: 40px;
    margin: 15px 0;
    font-weight: 400;
}
h3 {
    font-size: 16px;
}
